.product-template{
  display: flex;
  flex-direction: column;
}

//Web - Laptop - Monitor 1280
@media (min-width:1281px) {
  .product-template{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
 }

 .product-detail{
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translate(100%);
  transition: all ease-out .5s;
  &.active{
    transform: translate(0%);
  }
}

//Tablet - 960 - LandScape
@media (min-width:961px)  {
  .product-template{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
 }
