<app-nav></app-nav>
<button (click)="createUser()">Crear User</button>
<button (click)="downloadPDF()">Download PDF</button>
<app-products></app-products>
<p>
  <input type="file" (change)="onUpload($event)"/>
  <img [src]="imageUploaded" *ngIf="imageUploaded"/>
</p>


<!-- <p>
  <input required [(ngModel)]="imagen"/>
</p>

<button (click)="toggleButton()">Toggle Img</button> -->


<!-- En esta parte por ejemplo puede ir [img] o [commando]...debido a como fue programado
el input de app components de img....obviamente -->


<!-- <app-img *ngIf="showImg" (loadedMyImg)="chargeMyImage($event)" [img]="imagen"></app-img>
<hr/>
 -->
